.ui-menu {
	border: 1px solid var(--color-outline);
	background-color: var(--color-container);
}

.ui-menu__item {
	border-width: 0;
	cursor: pointer;
	transition: 150ms background-color;

	&:active {
		background: var(--color-selected);
	}
}

/* States */

.ui-menu__item.ui-active {
	color: var(--color-accent);
}
