.m-sidebar {
	position: sticky;
	top: 0;
	left: 0;
	width: 260px;
	height: 100dvh;
	max-height: 100dvh;
	border-right: 1px solid var(--color-outline);
	grid-area: sidebar;
	overflow-y: hidden;
}

.m-sidebar__logo {
	height: 56px;
}
