.m-base-layout-desktop {
	display: grid;
	min-width: 768px;
	grid-gap: 0;
	grid-template-areas:
		'sidebar header'
		'sidebar main'
		'sidebar footer';
	grid-template-columns: auto 1fr;
}

.m-base-layout-desktop__main {
	min-height: 100dvh;
	grid-area: main;
}
